.Drink .drink-container {
    position: relative;
    text-align: center;
    border-radius: 35%;
    box-shadow: 2px -2px 10px #000;
    overflow: hidden;
}

.Drink .drink-container:hover {
    box-shadow: 2px -2px 15px rgb(161, 42, 5);

}

.Drink .overlay-title {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.Drink .overlay-title h3 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: black;
    width: 110%;
    transform: rotate(-7deg);
    border-top:2px solid white;
}

.Drink img {
    width: 100%;
    margin-bottom: -5px;
}